/* font styles */
h1, h2, h3{
	/*font-family: 'Merriweather Sans', sans-serif;*/
	font-family: 'Noto Serif', serif;
	color: white;
}

body{
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1.3;
}

/* general styles*/
ul{
	margin: 0 10px;
	padding:0;
	list-style: none;
	display: block;
	/*border:1px solid #e4e3ea;
	border-radius: 4px;*/
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1)
}

ul li{
	border-top:1px solid white;
	border-bottom:1px solid #e4e3ea;
	background: #f5f5f5;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;	
}

ul li a{
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	display: block;
}

ul li:first-child{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

ul li:last-child{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

body{
	background: #2c2d38 url(images/bg.jpg)repeat;
	margin:0;
	padding:0;
	border:none;
}


header{
	background: #2c2d38 url(images/bg.jpg)repeat;
	height:40px;
	position: relative;
	border-bottom:2px solid #1c2226;
	outline: 1px solid #424b59;
}

header h1{
	width: 100%;
	text-align: center;
	margin:0;
	line-height: 40px;
	font-weight: normal;
}

section.content{
	padding:20px 0;
	background: #5dc5cf url(images/bg.jpg)repeat-x;
	min-height: 200px;
}


section[data-role=page], 
section[data-role=tab]{
	display: none;
}

section[data-role=page].show, 
section[data-role=tab].show{
	display: block;
}

.backbtn{
	position: absolute;
	padding:0;
	width: 50px;
	height: 33px;
	border:1px solid #318598;
	top:4px;
	left:5px;
	border-radius: 3px;
	border: none;
	background:url(images/back.png), #5dc5cf; /* Old browsers */
	background:url(images/back.png), -webkit-gradient(linear, 0 0, 0 100%, from(#5dc5cf), to(#399bb1));
	background:url(images/back.png), -webkit-linear-gradient(#5dc5cf 0%, #399bb1 100%);
	background:url(images/back.png), -moz-linear-gradient(#5dc5cf 0%, #399bb1 100%);
	background:url(images/back.png), -o-linear-gradient(#5dc5cf 0%, #399bb1 100%);
	background:url(images/back.png), linear-gradient(#5dc5cf 0%, #399bb1 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dc5cf', endColorstr='#399bb1',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-position: center center;
}


section > nav{
	width:100%;
	padding:20px 2% 0;
	overflow: hidden;
}

section > nav > a{
	width: 48%;
	height: 40px;
	margin:0;
	padding:0;
	display:block;
	float: left;
	box-sizing:border-box;
	background: #e1e4e4;
	border:1px solid #c8c8c8;
	font-size: Arial, helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	position: relative;
}
section > nav > a:first-child{
	border-top-left-radius: 3px;
}

section > nav > a:first-child:before{
	content: url(images/item.png);
	position: absolute;
	left:50%;
	margin-left:-45px;
	top:5px;
	height: 30px;
	width: 30px;
}

section > nav > a:last-child{
	border-top-right-radius: 3px;
}

section > nav > a:last-child:before{
	content: url(images/map.png);
	position: absolute;
	left:50%;
	margin-left:-52px;
	top:5px;
	height: 30px;
	width: 30px;
}

section > nav > a.active{
	background: #f5f5f5;
	border:1px solid white;
	border-bottom: none;
}
section#infotab{
	padding: 0;
}
section#infotab > div{
	width:96%;
	margin:0 2%;
	padding:10px;
	box-sizing:border-box;
	border: none;
	background:#f5f5f5;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1)
}


/* Leaflet maps */

#kaarttab{
	padding:0 2%;
}
#map{
	
	height: 380px;
	width: 100%;
	padding:10px;
	box-sizing:border-box;
}

.info{
	width:96%;
	margin: 0 2%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f5f5f5;
	line-height: 1.4;
}


